## Spark SQL

In [1]:
from pyspark.sql import SparkSession

import initspark

Wir erstellen eine neue Spark-SQL - Instanz

In [2]:
spark = SparkSession \
    .builder \
    .appName("PythonSpark") \
    .getOrCreate()

Und lesen ein paar Daten ein

In [3]:
data = spark.read.option("header", True).csv("data/BabyNames/Baby18802017.csv").cache()

In [4]:
data.show()

+----------+------+------+----+
|      Name|Gender|Number|Year|
+----------+------+------+----+
|      Dwan|     M|    28|1975|
|     Giles|     M|    28|1975|
|    Hernan|     M|    28|1975|
|      Iran|     M|    28|1975|
|    Jabbar|     M|    28|1975|
|      Jamy|     M|    28|1975|
|    Jerron|     M|    28|1975|
|      Jimi|     M|    28|1975|
|   Justice|     M|    28|1975|
|     Lonzo|     M|    28|1975|
|    Malcom|     M|    28|1975|
|  Marquise|     M|    28|1975|
|Maximilian|     M|    28|1975|
|      Mick|     M|    28|1975|
|   Roderic|     M|    28|1975|
|  Sheridan|     M|    28|1975|
|     Sixto|     M|    28|1975|
|  Stafford|     M|    28|1975|
|   Stephon|     M|    28|1975|
|    Sydney|     M|    28|1975|
+----------+------+------+----+
only showing top 20 rows

In [6]:
data.where(data.Year == "1900").show()

+---------+------+------+----+
|     Name|Gender|Number|Year|
+---------+------+------+----+
|     Mary|     F| 16706|1900|
|    Helen|     F|  6343|1900|
|     Anna|     F|  6114|1900|
| Margaret|     F|  5304|1900|
|     Ruth|     F|  4765|1900|
|Elizabeth|     F|  4096|1900|
| Florence|     F|  3920|1900|
|    Ethel|     F|  3896|1900|
|    Marie|     F|  3856|1900|
|  Lillian|     F|  3414|1900|
|    Annie|     F|  3324|1900|
|     Edna|     F|  3102|1900|
|     Emma|     F|  3095|1900|
|    Alice|     F|  3059|1900|
|   Bessie|     F|  3044|1900|
|   Bertha|     F|  3019|1900|
|    Grace|     F|  2942|1900|
|     Rose|     F|  2845|1900|
|    Clara|     F|  2826|1900|
|  Mildred|     F|  2800|1900|
+---------+------+------+----+
only showing top 20 rows

In [7]:
print(data.Year)
print(data["Year"])

Column<b'Year'>
Column<b'Year'>

In [8]:
print(data.State == "CA")

Column<b'(State = CA)'>

In [8]:
data.where(data.Year == "2014").where(data.Gender == "F").show()

+---------+------+------+----+
|     Name|Gender|Number|Year|
+---------+------+------+----+
|     Emma|     F| 20936|2014|
|   Olivia|     F| 19807|2014|
|   Sophia|     F| 18609|2014|
| Isabella|     F| 17089|2014|
|      Ava|     F| 15696|2014|
|      Mia|     F| 13512|2014|
|    Emily|     F| 12647|2014|
|  Abigail|     F| 12085|2014|
|  Madison|     F| 10320|2014|
|Charlotte|     F| 10115|2014|
|   Harper|     F|  9608|2014|
|    Sofia|     F|  9597|2014|
|    Avery|     F|  9568|2014|
|Elizabeth|     F|  9564|2014|
|   Amelia|     F|  8795|2014|
|   Evelyn|     F|  8747|2014|
|     Ella|     F|  8553|2014|
|    Chloe|     F|  8538|2014|
| Victoria|     F|  7996|2014|
|    Grace|     F|  7641|2014|
+---------+------+------+----+
only showing top 20 rows