<a href="https://colab.research.google.com/github/Leon-Bachmayr/INSY_Python/blob/main/Baby_Names_Spark_SQL-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Spark SQL

In [3]:
from google.colab import drive
drive.mount('/content/drive')

!pip install pyspark

from pyspark.sql import SparkSession

#import initspark

Mounted at /content/drive
Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 72.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805911 sha256=125c74e3651582c1f127b3f1908271097d0144e08bb957299539f3ff22bc4648
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

Wir erstellen eine neue Spark-SQL - Instanz

In [4]:
spark = SparkSession \
    .builder \
    .appName("PythonSpark") \
    .getOrCreate()

Und lesen ein paar Daten ein

In [6]:
data = spark.read.option("header", True).csv("/content/drive/MyDrive/data/BabyNames/Baby18802017.csv").cache()

In [7]:
data.show()

+----------+------+------+----+
|      Name|Gender|Number|Year|
+----------+------+------+----+
|      Dwan|     M|    28|1975|
|     Giles|     M|    28|1975|
|    Hernan|     M|    28|1975|
|      Iran|     M|    28|1975|
|    Jabbar|     M|    28|1975|
|      Jamy|     M|    28|1975|
|    Jerron|     M|    28|1975|
|      Jimi|     M|    28|1975|
|   Justice|     M|    28|1975|
|     Lonzo|     M|    28|1975|
|    Malcom|     M|    28|1975|
|  Marquise|     M|    28|1975|
|Maximilian|     M|    28|1975|
|      Mick|     M|    28|1975|
|   Roderic|     M|    28|1975|
|  Sheridan|     M|    28|1975|
|     Sixto|     M|    28|1975|
|  Stafford|     M|    28|1975|
|   Stephon|     M|    28|1975|
|    Sydney|     M|    28|1975|
+----------+------+------+----+
only showing top 20 rows

# Neuer Abschnitt

In [8]:
data.where(data.Name == "Helen").show()

+-----+------+------+----+
| Name|Gender|Number|Year|
+-----+------+------+----+
|Helen|     F|   636|1880|
|Helen|     M|     5|1966|
|Helen|     F|   838|1882|
|Helen|     F|  5277|1956|
|Helen|     F|  2155|1967|
|Helen|     M|     6|1975|
|Helen|     F|   943|1976|
|Helen|     F| 20985|1929|
|Helen|     F|  9799|1943|
|Helen|     M|    77|1929|
|Helen|     F|   612|1881|
|Helen|     F|   844|1983|
|Helen|     M|    38|1943|
|Helen|     F|  8694|1944|
|Helen|     M|     7|1881|
|Helen|     F|   862|1883|
|Helen|     M|     5|1883|
|Helen|     F|   986|1884|
|Helen|     F|  1134|1885|
|Helen|     M|     8|1967|
+-----+------+------+----+
only showing top 20 rows

In [9]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Number: string (nullable = true)
 |-- Year: string (nullable = true)

In [10]:
"634" + "559"

'634559'

### Typisiertes Schema!

In [12]:
from pyspark.sql.types import *

schema = StructType([
    StructField("name", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("count", IntegerType(), True),
    StructField("year", IntegerType(), True)
])


dataTyped = spark.read\
    .option("header", True)\
    .csv("/content/drive/MyDrive/data/BabyNames/Baby18802017.csv", schema = schema)\
    .cache()

In [13]:
dataTyped.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- count: integer (nullable = true)
 |-- year: integer (nullable = true)

In [14]:
dataTyped.show()

+----------+------+-----+----+
|      name|gender|count|year|
+----------+------+-----+----+
|      Dwan|     M|   28|1975|
|     Giles|     M|   28|1975|
|    Hernan|     M|   28|1975|
|      Iran|     M|   28|1975|
|    Jabbar|     M|   28|1975|
|      Jamy|     M|   28|1975|
|    Jerron|     M|   28|1975|
|      Jimi|     M|   28|1975|
|   Justice|     M|   28|1975|
|     Lonzo|     M|   28|1975|
|    Malcom|     M|   28|1975|
|  Marquise|     M|   28|1975|
|Maximilian|     M|   28|1975|
|      Mick|     M|   28|1975|
|   Roderic|     M|   28|1975|
|  Sheridan|     M|   28|1975|
|     Sixto|     M|   28|1975|
|  Stafford|     M|   28|1975|
|   Stephon|     M|   28|1975|
|    Sydney|     M|   28|1975|
+----------+------+-----+----+
only showing top 20 rows

In [15]:
dataTyped.where(dataTyped.name == "Helen").show()

+-----+------+-----+----+
| name|gender|count|year|
+-----+------+-----+----+
|Helen|     F|  636|1880|
|Helen|     M|    5|1966|
|Helen|     F|  838|1882|
|Helen|     F| 5277|1956|
|Helen|     F| 2155|1967|
|Helen|     M|    6|1975|
|Helen|     F|  943|1976|
|Helen|     F|20985|1929|
|Helen|     F| 9799|1943|
|Helen|     M|   77|1929|
|Helen|     F|  612|1881|
|Helen|     F|  844|1983|
|Helen|     M|   38|1943|
|Helen|     F| 8694|1944|
|Helen|     M|    7|1881|
|Helen|     F|  862|1883|
|Helen|     M|    5|1883|
|Helen|     F|  986|1884|
|Helen|     F| 1134|1885|
|Helen|     M|    8|1967|
+-----+------+-----+----+
only showing top 20 rows

In [16]:
dataTyped\
    .where(dataTyped.name == "Helen")\
    .agg({"count": "sum"})\
    .show()

+----------+
|sum(count)|
+----------+
|   1022157|
+----------+

In [17]:
sumHelen = dataTyped\
    .where(dataTyped.name == "Helen")\
    .agg({"count": "sum"})\
    .collect()
    
print(sumHelen)
print(sumHelen[0])
print(sumHelen[0][0])
print(sumHelen[0]["sum(count)"])

[Row(sum(count)=1022157)]
Row(sum(count)=1022157)
1022157
1022157

# Neuer Abschnitt